body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* For removing arrows button for number input  */
/* <!-- Raghav Gupta --> */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* For removing arrows button for number input  */
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type="number"],
input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#bill {
  margin-top: 20px;
  width: 100%;
  display: none;
}

#bill table {
  width: 100%;
  border-collapse: collapse;
}

#bill table th,
#bill table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Pink background only for table headers */
#bill table th {
  background-color: #f2f2f2;
}

/* Pink background when bill is generated */
#bill.generated th {
  background-color: rgb(104, 154, 239);
}
